{% include 'project_header.html' %}




<div>
    <!-- about section -->
    <section class="section about-top pt-20 pb-0" id="about-me">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-caption lead">
                    <br><br><br>
                    <h1 class="custom-title mb-6">Hello!</h1>
                    <p style="font-size: 1.05rem;">
I'm Kristaps, a self-taught coder passionate about crafting innovative solutions through Python. With a diverse skill set encompassing Python, CSS, HTML, API integration, and more, I've delved into various realms of software development, from building web apps and scripting to developing games and visualizing data.
<br><br>
My coding journey began with a curiosity-driven exploration of Python, and since then, I've expanded my expertise to include a wide range of technologies. Whether it's developing dynamic web applications with Flask and Bootstrap, leveraging data analysis libraries like Pandas and NumPy, creating captivating data visualizations with Plotly, Seaborn, and Matplotlib, or extracting valuable insights through web scraping, I thrive on the challenge of bringing ideas to life through code.
<br><br>
In addition to my coding skills, I'm proficient in Excel for data analysis and SQL for database management. I believe in the power of technology to empower, connect, and inspire, and I'm dedicated to leveraging my skills to contribute positively to the digital landscape.
<br><br>
Outside of coding, you might find me exploring the latest advancements in tech, diving into a good book, or tinkering with new project ideas. I'm always eager to learn, grow, and collaborate, so if you have a project in mind or simply want to connect, feel free to reach out!
<br><br>
Let's build something amazing together.           </p>
<br>

                </div>
                <div class="about-img-holder ml-5">
                    <img src="static/imgs/man.png", class="img-hide-on-small"  alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->
</div>


 <!-- about section -->
    <section class="section about-bottom pt-0" id="skills">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about mb-10">
                <div class="about-img-holder">
                    <img src="static/imgs/stack.png" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <h1 class="section-subtitle">What do I know ?</h1>
                    <br><br>
                    <ul class="custom-list">
    <li>Python</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>API integration</li>
    <li>Web development (including Flask and Bootstrap)</li>
    <li>Scripting</li>
    <li>Game development</li>
    <li>Data visualization (including Plotly, Seaborn, and Matplotlib)</li>
    <li>Data analysis (including Pandas and NumPy)</li>
    <li>Excel</li>
    <li>SQL (SQLite)</li>
    <li>Web scraping</li>
</ul>
<br><br>
                    <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
<br><br>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->


{% include 'footer.html' %}