    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.github.com/kristapsssss">Kristaps</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.linkedin.com/in/kristaps-rudzītis-747885247" class="link"><i class="ti-linkedin"></i></a>
                <a href="mailto:kristapsrudz@gmail.com" class="link"><i class="ti-email"></i></a>
                <a href="https://www.instagram.com/kristaps.r" class="link"><i class="ti-instagram"></i></a>
                <a href="https://www.github.com/kristapsssss" class="link"><i class="ti-github"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->

	<!-- core  -->
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="static/js/meyawo.js"></script>

</body>
</html>